<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<h1>User Details</h1>

		<div>
			<h2><%= user.fullName %></h2>
			<h2><%= user.email %></h2>
			<h2><%= user.phoneNumber %></h2>
			<h2><%= user.age %></h2>
			<h2><%= user._id %></h2>
		</div>
	</body>
</html>
